HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.DS_Store
.DS_Store
src/.DS_Store
src/main/resources/OurHomeApplication.log
src/main/resources/OurHomeApplication.log.lck
src/main/resources/static/avatars/avatar-1-testUser.jpg
src/main/resources/static/documents/document-1010-1-null.jpg
.env
