<th:block sec:authorize="isAuthenticated()">
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <div class="logo-image">
                            <a href="/index"><img alt="OurHome" src="/images/OurHome.png" style="max-width: 200px;"></a>
                        </div>
                        <!-- ***** Logo End ***** -->

                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li>
                                <a th:classappend="${currentURI == '/' or currentURI == '/index'} ? 'active' : ''"
                                   th:href="@{/}">Начало</a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a th:classappend="${currentURI.startsWith('/messages')} ? 'active' : ''"
                                   th:href="@{/messages}">Съобщения</a>
                            </li>
                            <small th:with="userId=${loggedUser.getId()}">
                                <samp class="timer count-title text-danger"
                                      data-speed="1000"
                                      th:data-to="${@messageRepository.countUnreadMessages(userId)}"
                                      th:if="${@messageRepository.countUnreadMessages(userId) > 0}"
                                      th:with="userId=${loggedUser.getId()}"></samp>
                            </small>
                            <li sec:authorize="hasAnyRole('MANAGER')">
                                <a th:classappend="${currentURI.startsWith('/administration')} ? 'active' : ''"
                                   th:href="@{/administration}">Администриране</a>
                            </li>
                            <li sec:authorize="hasAnyRole('RESIDENT')">
                                <a th:classappend="${currentURI.startsWith('/property')} ? 'active' : ''"
                                   th:href="@{/property}">Моят имот</a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a th:classappend="${currentURI.startsWith('/profile')} ? 'active' : ''"
                                   th:href="@{/profile}">Профил</a>
                            </li>
                            <li>
                                <a th:classappend="${currentURI.startsWith('/contact')} ? 'active' : ''"
                                   th:href="@{/contact}">Контакти</a>
                            </li>
                            <li sec:authorize="!isAuthenticated()">
                                <a th:classappend="${currentURI.startsWith('/register')} ? 'active' : ''"
                                   th:href="@{/register}">Регистрация</a>
                            </li>
                            <li sec:authorize="!isAuthenticated()">
                                <a th:classappend="${currentURI.startsWith('/login')} ? 'active' : ''"
                                   th:href="@{/login}">Вход</a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <form id="logout" method="POST" th:action="@{/logout}">
                                    <a onclick="logout.submit()" style="cursor: pointer;">Изход</a>
                                </form>
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
</th:block>
<th:block sec:authorize="!isAuthenticated()">
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <div class="logo-image">
                            <a href="/index"><img alt="OurHome" src="/images/OurHome.png" style="max-width: 200px;"></a>
                        </div>
                        <!-- ***** Logo End ***** -->

                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li>
                                <a th:classappend="${currentURI == '/' or currentURI == '/index'} ? 'active' : ''"
                                   th:href="@{/}">Начало</a>
                            </li>
                            <li>
                                <a th:classappend="${currentURI.startsWith('/contact')} ? 'active' : ''"
                                   th:href="@{/contact}">Контакти</a>
                            </li>
                            <li>
                                <a th:classappend="${currentURI.startsWith('/register')} ? 'active' : ''"
                                   th:href="@{/register}">Регистрация</a>
                            </li>
                            <li sec:authorize="!isAuthenticated()">
                                <a th:classappend="${currentURI.startsWith('/login')} ? 'active' : ''"
                                   th:href="@{/login}">Вход</a>
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
</th:block>
