<th:block sec:authorize="isAuthenticated()">
    <div class="sub-header" th:fragment="header">
        <div class="container">
            <div class="header-container">
                <div class="avatar">
                    <button type="button">
                        <a th:href="@{/profile}">
                            <img alt="Avatar"
                                 th:if="${loggedUser.avatarPath != null}" th:src="@{${loggedUser.avatarPath}}">
                            <img alt="Default Avatar"
                                 src="/avatars/default.jpg" th:unless="${loggedUser.avatarPath != null}"></a>
                    </button>
                </div>
                <div class="logged-user">
                    <p><b th:text="${loggedUser.getFirstName()} + ' ' + ${loggedUser.getLastName()}"></b></p>
                </div>
                <button class="toggle-btn" id="toggle-notifications">
                    <i class="fa-regular fa-bell text-dark" style="margin-left: 10px"></i>
                </button>
            </div>
        </div>
    </div>
</th:block>

<!--Notifications-->
<div th:replace="~{fragments/notifications}"></div>
