<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <title>OurHome - Home management platform</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/our-home.css">
</head>

<body>

<div class="container">
    <img src="/images/oops.png" alt="Something went wrong!">
    <div class="administration">
        <div class="tabs-content">
            <a class="text-center" href="/index">
                <ul>
                    <li class="nav-item">
                        <button class="nav-link" type="button">Home</button>
                    </li>
                </ul>
            </a>
        </div>
    </div>
</div>

</body>
</html>