<!--Administration page EN Sub menus-->
<a class="nav-link" th:href="@{/administration}"><i class="fa-solid fa-reply"></i></a>
<a th:href="@{/administration/summary/{id}(id=${residentialEntity.getId()})}">Summary</a>
<a th:href="@{/administration/owners/{id}(id=${residentialEntity.getId()})}">Owners</a>
<a th:href="@{/administration/property/active/{id}(id=${residentialEntity.getId()})}">Properties</a>
<a th:href="@{/administration/fees/{id}(id=${residentialEntity.getId()})}">Monthly fees</a>
<a th:href="@{/administration/events/{id}(id=${residentialEntity.getId()})}">Events</a>
<a th:href="@{/administration/financial/expenses/{id}(id=${residentialEntity.getId()})}">Reports</a>
<a th:href="@{/administration/details/{id}(id=${residentialEntity.getId()})}">Settings</a>


